<div>
    <form class="example-form">
          <input matInput (input)="searchCountry($event.target.value)">
      </form>
    <div>
        <mat-card style="padding-top: 10px;margin-top: 15px; background-color: cornflowerblue;">
            <mat-card-header>
              <mat-card-title>Global</mat-card-title>
              <mat-card-subtitle>{{jsonRespGlobal.TotalConfirmed}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <span>TotalConfirmed:&nbsp;</span>
                    <span>{{jsonRespGlobal.TotalConfirmed}}</span>
                </div>
                <div>
                    <span>NewConfirmed:&nbsp;</span>
                    <span>{{jsonRespGlobal.NewConfirmed}}</span>
                </div>
                <div>
                    <span>NewDeaths:&nbsp;</span>
                    <span>{{jsonRespGlobal.NewDeaths}}</span>
                </div>
                <div>
                    <span>TotalDeaths:&nbsp;</span>
                    <span>{{jsonRespGlobal.TotalDeaths}}</span>
                </div>
        
                <div>
                    <span>NewRecovered:&nbsp;</span>
                    <span>{{jsonRespGlobal.NewRecovered}}</span>
                </div>
            </mat-card-content>
        </mat-card>
        
    </div>
    
    <div *ngFor="let ob of jsonRespOrdered">
        <!-- <div *ngIf="ob.CountryCode=='IN'||ob.CountryCode=='ES'||ob.CountryCode=='IT'||ob.CountryCode=='BR'"> -->
        <div>
            <mat-card style="padding-top: 10px;margin-top: 15px;">
                <mat-card-header>
                  <mat-card-title>{{ob.Country}}</mat-card-title>
                  <mat-card-subtitle>{{ob.TotalConfirmed}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <span>TotalConfirmed:&nbsp;</span>
                        <span>{{ob.TotalConfirmed}}</span>
                    </div>
                    <div>
                        <span>NewConfirmed:&nbsp;</span>
                        <span>{{ob.NewConfirmed}}</span>
                    </div>
                    <div>
                        <span>NewDeaths:&nbsp;</span>
                        <span>{{ob.NewDeaths}}</span>
                    </div>
                    <div>
                        <span>TotalDeaths:&nbsp;</span>
                        <span>{{ob.TotalDeaths}}</span>
                    </div>
            
                    <div>
                        <span>NewRecovered:&nbsp;</span>
                        <span>{{ob.NewRecovered}}</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>